/* --- Global Styles --- */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* --- Home-Page Styles --- */
@keyframes float {

    0%,
    100% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-25px);
    }
}

.animate-float {
    animation: float 8s ease-in-out infinite;
}

@keyframes orbit {
    from {
        transform: rotate(0deg) scale(1.2);
    }

    to {
        transform: rotate(360deg) scale(1.2);
    }
}

.animate-orbit {
    animation: orbit 60s linear infinite;
}